* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #e3cf8c;
    color: #fff;
    text-align: center;
}

/* HERO */
.hero {
    background: #222;
    height: 300px;
    width: 630px;
    padding: 20px 20px 100px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    overflow: hidden;
    
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, rgba(255,215,130,0.2), transparent);
    animation: fadeHero 6s infinite alternate;
}

@keyframes fadeHero {
    from { opacity: 0.3; }
    to { opacity: 0.8; }
}

.logo {
    width: 110px;
    margin-bottom: -10px;
}

.brand {
    font-size: 38px;
    letter-spacing: 5px;
    margin-bottom: -10px;
}

.subtitle {
    font-size: 6px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #ccc;
}

.visit-btn {
    background: #e3cf8c;
    color: #000;
    padding: 5px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

.visit-btn:hover {
    background: #d4bb6e;
    transform: scale(1.05);
}

/* PROFILE CARD */
.profile-card {
    background: #222;
    margin: -40px 20px 40px;
    padding: 60px 10px 50px;
    border-radius: 50px;
    position: relative;
    top:50px;
}

.profile-img {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #e3cf8c;
    object-fit: cover;
}

.profile-card h2 {
    font-size: 32px;
    margin-top: 26px;
    margin-left: 30px;
    text-align: left;
}

.profile-card h2 span {
    color: #e3cf8c;
}

.profile-card h3 {
    color: #e3cf8c;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
}

.description {
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #ddd;
}

/* CONTACT MENU */
.contact-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-item {
    text-decoration: none;
    color: #e3cf8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.contact-item i {
    font-size: 30px;
    margin-bottom: 8px;
}

.contact-item:hover {
    transform: translateY(-8px);
    color: #fff;
}

.seperators{
    border: 2px solid #d4bb6e;
}

/* SOCIAL */
.social {
    background: #222;
    margin: 20px 20px 40px;
    padding: 20px;
    border-radius: 30px;
    width: 650px;
}

.social a {
    color: #e3cf8c;
    margin: 0 20px;
    font-size: 28px;
    transition: 0.3s;
    letter-spacing: 40px;
}

.social a:hover {
    color: #fff;
    transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero{
        width:500px ;
    }
    .brand {
        font-size: 32px;
    }

    .profile-card {
        padding-top: 40px;
    }

    .contact-menu {
        gap: 25px;
    }
    .social{
        width: 500px;
        padding: 10px;
        border-radius: 20px;
    }
    .description{
        font-size: 13px;
    }
    .profile-img{
        top: -85px;
    }
}